.display {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
}

.title1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
}

.title2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.title3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

.headline {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
}

.body {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}

.subhead {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.footnote {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

